extends layout
block content

  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src="https://pngimg.com/uploads/hacker/hacker_PNG33.png", alt="avatar",height="150" width="130")

        h2
          | Chào mừng trở lại #{name}
        //- h2.favorite-book Favorite Book
        //- | #{favorite}
